.footer {
    background-color: var(--grey1);
    &__nav {
        order: 1;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;

        width: 100%;
        margin-top: 40px;

        @media (min-width: 768px) {
            width: unset;
            order: unset;
            margin-top: 0;
            margin-bottom: 0px;
        }
        li {
            margin-bottom: 24px;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }
            &:not(:last-child) {
                margin-right: 60px;
                @media (min-width: 1200px) {
                    margin-right: 54px;
                }
            }

            a {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #fff;
            }
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__links {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        margin-bottom: 40px;
        width: 100%;
        flex-wrap: wrap;
        order: -1;

        @media (min-width: 560px) {
        }
        @media (min-width: 768px) {
            order: unset;
            width: unset;
            justify-content: unset;
            margin-bottom: 0px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
            column-gap: 24px;
            margin-left: 16px;
        }
        @media (min-width: 992px) {
            margin-left: 16px;
        }
        @media (min-width: 1200px) {
            display: flex;
        }
        li {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: rgba(253, 254, 255, 0.5);
            margin-right: 16px;
            @media (min-width: 768px) {
                margin-right: 0px;
            }
        }
        li:not(:last-child) {
            margin-bottom: 24px;
            @media (min-width: 768px) {
                margin-bottom: 0px;
            }
        }
        .projectBy_desctop {
            word-wrap: break-word;
            display: none;
            @media (min-width: 768px) {
                display: inline-block;
            }
            order: 4;
        }
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: rgba(253, 254, 255, 0.5);
        }
        a.dowload,
        a.link {
            text-decoration: underline;
        }
    }
    &__projectBy {
        @media (min-width: 768px) {
            display: none;
        }
    }
    &__copyright,
    &__projectBy {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: rgba(253, 254, 255, 0.5);
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: rgba(253, 254, 255, 0.5);
            text-decoration: underline;
        }
    }
    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__bottom {
        align-items: flex-end;
        @media (min-width: 1200px) {
        }
    }
    &__top {
        margin-bottom: 46px;
        @media (min-width: 768px) {
            margin-bottom: 32px;
        }
    }
    .btn_white-transperent {
        min-width: 160px;
        width: fit-content;
        justify-content: flex-end;
    }
    .container {
        padding-top: 24px;
        padding-bottom: 30px;
        @media (min-width: 768px) {
            padding-top: 32px;
            padding-bottom: 28px;
        }
    }
    .btn_grey {
        width: fit-content;
        justify-content: flex-end;
        margin-bottom: 47px;

        svg {
            width: 15px;
            min-width: unset;
        }
        padding: 0;
        order: -4;
        @media (min-width: 768px) {
            order: unset;
            margin-bottom: 0;
        }
    }
}
