:root {
    --blue1: #2f80ed;
    --blue2: #ebf1fd;
    --blue3: #f5f8ff;

    --green1: #6cc551;
    --green2: 42.88deg, #6cc551 43.57%, #dff2d9 131.54%;
    --green3: #7bd75f;
    --green4: #b2e3a4;
    --green5: 180deg, #dff2d9 0%, #ffffff 100%;

    --grey1: #4f4f4f;
    --grey2: #808080;
    --grey3: #aaaaaa;
    --grey4: #c3c3c3;

    --yellow: #ebee46;
}
