@import "modules/fonts";
@import "modules/variables";
@import "modules/header";
@import "modules/components";
@import "modules/sections";
@import "./modules/footer";
@import "./modules/accordion.min.css";
@import "./modules/swiper.css";
// @import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    position: relative;
    height: 100%;
}

* {
    font-family: "Gilroy", sans-serif;
    box-sizing: border-box;
    color: var(--grey1);
}
a {
    color: var (--grey1);
    text-decoration: none;
}

h1 {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
    }
    @media (min-width: 992px) {
        font-size: 43px;
        line-height: 53px;
    }
}
h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    @media (min-width: 768px) {
        font-size: 32px;
        line-height: 39px;
    }
}
h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
    }
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    @media (min-width: 560px) {
        padding: 0;
        margin: 0 auto;
        width: calc(100% - 120px);
    }

    @media (min-width: 992px) {
        width: 100%;
        max-width: 780px;
        margin: 0 auto;
    }
    @media (min-width: 1200px) {
        max-width: 1180px;
    }
}
.section {
    margin-bottom: 60px;
    display: block;
    @media (min-width: 768px) {
        margin-bottom: 100px;
    }
    @media (min-width: 992px) {
        margin-bottom: 120px;
    }
}
