.news-section {
    margin-top: 15px;
    margin-bottom: 90px;
    @media (min-width: 768px) {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
        margin-top: 104px;
        margin-bottom: 100px;
    }
    h1 {
        margin: 0;
        margin-bottom: 22px;

        @media (min-width: 768px) {
            margin-bottom: 38px;
        }
    }
    .switch {
        display: none;
        @media (min-width: 768px) {
            display: flex;
            margin-bottom: 64px;
        }
        @media (min-width: 1200px) {
            display: none;
            margin: 0;
        }
    }
    .rows,
    .tiles {
        cursor: pointer;
        fill: var(--blue2);
        svg {
            fill: inherit;
        }
        &.selected {
            fill: var(--blue1);
        }
    }
    &__wrapper {
        display: grid;
        gap: 20px;
        &.tile {
            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (min-width: 1200px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        @media (min-width: 768px) {
            margin-bottom: 32px;
        }
        @media (min-width: 768px) {
            margin-bottom: 36px;
        }
    }
    &__rows-tiles-wrapper {
        display: flex;
        align-items: center;
        .rows {
            margin-right: 18px;
        }
    }
}
