.steps-section {
    .swiper {
        &-wrapper {
            display: flex;
        }
        &-pagination {
            position: relative;
            margin-top: 24px;
        }
        .swiper-pagination-bullet {
            background: var(--blue2);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: var(--blue1);
        }
        &-slide {
            border: 2px solid #f5f8ff;
            box-sizing: border-box;
            border-radius: 16px;
            padding-top: 100px;
            padding-bottom: 60px;
            padding-right: 40px;
            padding-left: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:not(:last-child) {
                // margin-right: 20px;
                @media (min-width: 768px) {
                    // margin-right: 90px;
                }
                @media (min-width: 1200px) {
                    // margin-right: 150px;
                }
            }
            &__image {
                margin-bottom: 48px;
            }
        }
        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }
        &-arrow {
            display: none;
            img {
                width: 100%;
            }
            @media (min-width: 768px) {
                position: absolute;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                width: 32px;
                right: -61px;
            }
            @media (min-width: 1200px) {
                right: -102px;
                width: 56px;
            }
        }
    }
    &-slide {
        display: flex;
        flex-direction: column;

        justify-content: center;
        p {
            margin-top: 48px;
            margin-bottom: 0;
            text-align: center;
        }
    }
}
