.btn {
    border-radius: 16px;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    transition: fill 0.5s ease, color 0.5s ease, background 0.5s ease;

    span {
        color: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    svg {
        fill: inherit;

        margin-left: 14px;
        width: 100%;
        max-width: 20px;
        @media (min-width: 992px) {
            max-width: 24px;
        }
    }
    &:hover {
        transition: fill 0.5s ease, color 0.5s ease, background 0.5s ease;
    }
    &_outline {
        border: 1px solid var(--blue1);
        fill: var(--blue1);
        &:hover {
            background: var(--blue1);
            fill: #fff;
            color: #fff;
        }
        &:active {
            background: #1470eb;
        }
    }
    &_blue {
        fill: #fff;
        color: #fff;
        background: var(--blue1);
        &:hover {
            background: var(--grey1);
        }
        &:active {
            background: #363636;
        }
    }
    &_black {
        fill: #fff;
        color: #fff;
        background: var(--grey1);
        &:hover {
            background: var(--blue3);
            color: var(--blue1);
            fill: var(--blue1);
        }
        &:active {
            background: var(--blue2);
        }
    }
    &_white-transperent {
        color: #fff;
        fill: #fff;
        padding: 0;
    }
    &_outline-white {
        border: 1px solid #fff;
        color: #fff;
        fill: #fff;
    }
}
