.modal {

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    display: none;

    align-items: center;
    justify-content: center;

    &.open {
        display: flex;
    }

    .top {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        position: absolute;
        top: 12px;
        right: 12px;

        .close {

            cursor: pointer;
        }
    }

    .content {
        border-radius: 16px;
        max-width: 320px;

        padding-right: 12px;
        position: relative;
        height: 80%;
        background-color: #fff;
        padding-top: 76px;


        @media (min-width: 768px) {
            padding-top: 76px;
            max-width: 580px;
            margin-top: 0;
            padding-left: 32px;

            max-height: 650px;


        }

    }

    h2 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 18px;
        padding-left: 38px;

        @media (min-width: 768px) {
            padding-right: 70px;
        }
    }

    .subtitle {
        font-size: 10px;
        margin-top: 18px;
        margin-bottom: 18px;
        padding-left: 38px;

        @media (min-width: 768px) {
            padding-right: 70px;
        }
    }

    h3 {
        margin-top: 24px;
        font-size: 16px;
        margin-bottom: 18px;
    }

    .text {

        font-size: 12px;
        height: 100%;
        height: 465px;
        padding-left: 38px;
        padding-right: 58px;

        @media (min-width: 768px) {
            padding-right: 70px;
        }




        p {
            font-size: 12px;
            margin-top: 18px;
            margin-bottom: 18px;

            &:last-child {
                padding-bottom: 14px;
            }
        }
    }

    .wrapper-text {
        overflow-y: scroll;
        height: 100%;

        &::-webkit-scrollbar {
            width: 4px;
            /* ширина scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            /* цвет дорожки */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #61A0F1;
            /* цвет плашки */
            border-radius: 20px;

        }

    }
}