.about-main-section {
    background-color: var(--blue1);
    * {
        color: #fff;
    }
    overflow: hidden;
    margin-bottom: 46px;
    @media (min-width: 768px) {
        margin-bottom: 100px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 70px;
    }
    .switch {
        display: none;
        @media (min-width: 768px) {
            display: flex;
            padding-top: 48px;
            margin-bottom: 13px;
        }
        @media (min-width: 1200px) {
            display: none;
            margin: 0;
        }
    }
    &__content {
        position: relative;
        padding-top: 32px;
        padding-bottom: 35px;
        @media (min-width: 768px) {
            margin-top: 0;
            padding-bottom: 100px;
        }
        @media (min-width: 1200px) {
            padding-top: 80px;
            padding-bottom: 67px;
        }
    }
    &__question {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        background: rgba(171, 208, 247, 0.4);
        border-radius: 16px;
        padding: 13px 21px;
        margin-bottom: 32px;
        @media (min-width: 1200px) {
            margin-bottom: 16px;
        }
    }
    h1 {
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            margin-bottom: 24px;
            max-width: 430px;
        }
        @media (min-width: 1200px) {
            max-width: 650px;
        }
    }
    p {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #ebf1fd;

        opacity: 0.7;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        @media (min-width: 768px) {
            max-width: 448px;
        }

        @media (min-width: 1200px) {
            min-width: 576px;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__right {
        position: absolute;
        right: -64px;
        bottom: -18px;
        @media (min-width: 560px) {
            bottom: -25px;
            right: -60px;
        }
        @media (min-width: 768px) {
            right: 0;
            bottom: 72px;
        }
        @media (min-width: 1200px) {
            bottom: 67px;
        }
    }
    &__left {
        position: absolute;
        bottom: -18px;

        left: -64px;
        @media (min-width: 560px) {
            bottom: -25px;
            left: -60px;
        }
        @media (min-width: 768px) {
            left: 0;
            bottom: 72px;
        }
        @media (min-width: 1200px) {
            bottom: 67px;
        }
    }
}
