.banner-with-icon-section {
    &__title {
        color: #fff;
    }
    .container {
        padding-top: 77px;
    }
    &__content {
        display: flex;
        width: 100%;
        background-color: #366feb;
        border-radius: 16px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
        flex-direction: column-reverse;
        @media (min-width: 880px) {
            flex-direction: unset;
            align-items: unset;
            padding-bottom: 40px;
            padding-right: 0;
            padding-top: 40px;
            padding-left: 40px;
        }
        @media (min-width: 992px) {
            padding-left: 56px;
        }
    }
    .btn {
        @media (min-width: 560px) {
            min-width: 160px;
            width: fit-content;
        }
    }
    h2 {
        margin-top: 0;
        margin-bottom: 32px;
        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
        @media (min-width: 1200px) {
            margin-bottom: 24px;
        }
    }
    &__right {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            margin-top: -77px;
            width: calc(100% - 32px);
            margin-bottom: 32px;

            @media (min-width: 880px) {
                margin-top: 0px;
                margin-bottom: 0;
                position: absolute;
                width: 429px;
                bottom: -32px;
                right: 6px;
            }
            @media (min-width: 1200px) {
                width: 438px;
                bottom: -50px;
                right: 62px;
            }
        }
    }
    .btn {
        margin: 0 auto;

        @media (min-width: 880px) {
            margin: 0;
        }
    }
    &__left {
        @media (min-width: 880px) {
            max-width: 306px;
        }
        @media (min-width: 1200px) {
            max-width: 477px;
        }
    }
}
