.cards-section {
    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        @media (min-width: 768px) {
            flex-direction: unset;
            margin-top: 115px;
            justify-content: space-between;
        }
        @media (min-width: 992px) {
            margin-top: 135px;
            margin: 0 auto;
            max-width: 1000px;
        }
    }
    margin-bottom: 60px;
    @media (min-width: 992px) {
        margin-bottom: 140px;
    }
}
