.switch {
    display: flex;
    align-items: center;
    .left {
        margin-right: 12px;
    }
    .right {
        margin-left: 12px;
    }
    input[type="checkbox"] {
        visibility: hidden;
        margin: 0;
        display: none;
        padding: 0;
        width: 0;
        height: 0;
        &:checked + label {
            &:before {
                transform: translateX(27px);
                background-color: var(--blue1);
            }
        }
    }

    label {
        display: flex;
        width: 55px;
        height: 28px;
        border-radius: 99em;
        position: relative;
        transition: transform 0.75s ease-in-out;
        transform-origin: 50% 50%;
        cursor: pointer;
        background-color: var(--blue2);
        &:before {
            transition: transform 0.75s ease;
            transition-delay: 0.2s;
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: var(--blue1);
            border-radius: 50%;
            top: 4px;
            left: 4px;
        }
    }
    span {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
